---
import { ClientRouter, fade } from "astro:transitions";
import { Header } from "../components";
import AnimatedWavesSections from "../components/Animated/AnimatedWavesSections.astro";
import BaseHead from "../components/BaseHead.astro";
import SidebarWrapper from "../components/Navigation/SidebarWrapper";
import { SmoothScroll } from "../components/utils/smoothScrollProvider";
import "overlayscrollbars/overlayscrollbars.css";

interface Props {
  title: string;
  description: string;
  heading?: string;
  subheading?: string;
  helper?: string;
  backgroundImageUrl?: string;
  classList?: string;
}

const { title, description, heading = "Kiseki Miracle", subheading = "奇跡", helper = "美術", backgroundImageUrl = "", classList } = Astro.props;
const newTitle = title;

const anim = {
  old: {
    name: "fade-out-bottom",
    duration: "200ms",
  },
  new: {
    name: "fade-in-top",
    duration: "500ms",
    easing: "ease-out",
    delay: "200ms",
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};

const onExitTransition = {
  old: {
    name: "fade-out-bottom",
    duration: "200ms",
    easing: "ease-in",
  },
  new: {
    name: "fade-in-from-bottom",
    duration: "350ms",
    easing: "ease-out",
    delay: "300ms",
  },
};

const ExitTransition = {
  forwards: onExitTransition,
  backwards: onExitTransition,
};
---

<!doctype html>
<html lang="en" data-overlayscrollbars-initialize>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <BaseHead title={newTitle} description={description} />
    <ClientRouter fallback="none" />
  </head>

  <SmoothScroll client:load>
    <Header client:load />
    <section class="bg-transparent h-[60svh] text-white flex flex-col items-center justify-center relative -z-1 pointer-events-none">
      <div class="fixed flex flex-col -mt-12 items-center justify-center gap-4 w-full px-8" transition:animate={customTransition}>
        <h1 class="text-5xl sm:text-7xl text-center font-[Fredericka_the_Great]">{heading}</h1>
        <h2 class="text-2xl sm:text-5xl">{subheading}</h2>
        <p class="font-normal text-md sm:text-xl">= {helper} =</p>
      </div>
      <div
        id="bg-cover"
        class:list={[
          "fixed w-full h-[70svh] bg-zinc-800 -z-2",
          `${backgroundImageUrl ? "bg-cover bg-no-repeat bg-center brightness-30 blur-xs scale-110" : ""}`,
          classList,
        ]}
        style={backgroundImageUrl ? `background-image: url(${backgroundImageUrl});` : ""}
      >
      </div>
      <AnimatedWavesSections />
    </section>

    <main class="flex flex-col items-center w-full py-12 bg-zinc-50 z-1 px-8 text-slate-800">
      <section class="flex xl:gap-8 w-full max-w-7xl 2xl:w-auto" transition:animate={ExitTransition}>
        <SidebarWrapper client:load />
        <div class="w-full xl:max-w-5xl flex flex-col gap-4">
          <span
            class="flex items-center py-3 text-2xl font-bold !text-zinc-400 before:flex-1 before:border-t before:border-zinc-300 before:me-6 after:flex-1 after:border-t after:border-zinc-300 after:ms-6"
          >
            奇跡
          </span>
          <slot />
        </div>
      </section>
    </main>
  </SmoothScroll>
</html>
