---
import { ClientRouter, fade } from "astro:transitions";
import { Header } from "../components";
import AnimatedWavesSections from "../components/Animated/AnimatedWavesSections.astro";
import BaseHead from "../components/BaseHead.astro";
import ProfileSidebar from "../components/Navigation/ProfileSidebar.tsx";
import { OverlayWrapper } from "../components/utils/scrollbarOverlay.tsx";

interface Props {
  title: string;
  description: string;
  heading?: string;
  subheading?: string;
  helper?: string;
  backgroundImageUrl?: string;
  classList?: string;
}

const { title, description, heading = "Kiseki Miracle", subheading = "奇跡", helper = "美術", backgroundImageUrl = "", classList } = Astro.props;
const newTitle = title;

const anim = {
  old: {
    name: "fade-out-bottom",
    duration: "200ms",
  },
  new: {
    name: "fade-in-top",
    duration: "500ms",
    easing: "ease-out",
    delay: "200ms",
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};
---

<!doctype html>
<html lang="en" data-overlayscrollbars-initialize>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <BaseHead title={newTitle} description={description} />
    <ClientRouter />
    <style is:global>
      @keyframes fade-in-top {
        0% {
          opacity: 0;
          transform: translateY(-30px);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @keyframes fade-out-bottom {
        0% {
          opacity: 1;
          transform: translateY(0);
        }

        100% {
          opacity: 0;
          transform: translateY(30px);
        }
      }
    </style>
  </head>
  <body class="bg-gradient-to-b from-slate-900 to-slate-800 text-white" data-overlayscrollbars-initialize>
    <Header client:load />
    <OverlayWrapper client:load>
      <section class="bg-transparent h-[65svh] text-white flex flex-col items-center justify-center relative -z-1 pointer-events-none">
        <div class="fixed flex flex-col -mt-12 items-center justify-center gap-4 w-full px-8" transition:animate={customTransition}>
          <h1 class="text-5xl sm:text-6xl text-center font-[Fredericka_the_Great]">{heading}</h1>
          <h2 class="text-2xl sm:text-4xl">{subheading}</h2>
          <p class="font-normal text-md">= {helper} =</p>
        </div>
        <div
          id="bg-cover"
          class:list={[
            "fixed w-full h-[70svh] bg-zinc-800 -z-2",
            `${backgroundImageUrl ? "bg-cover bg-no-repeat bg-center brightness-30 blur-xs scale-110" : ""}`,
            classList,
          ]}
          style={backgroundImageUrl ? `background-image: url(${backgroundImageUrl});` : ""}
        >
        </div>
        <AnimatedWavesSections />
      </section>

      <main class="flex flex-col items-center w-full py-12 bg-violet-50 z-1 px-8 text-slate-800" transition:animate="fade">
        <section class="flex xl:gap-6 w-full max-w-7xl 2md:w-auto">
          <ProfileSidebar client:load />
          <div class="w-full xl:max-w-5xl flex flex-col gap-4">
            <span
              class="flex items-center py-3 text-2xl font-bold !text-violet-500 before:flex-1 before:border-t before:border-violet-400 before:me-6 after:flex-1 after:border-t after:border-violet-400 after:ms-6"
            >
              奇跡
            </span>
            <slot />
          </div>
        </section>
      </main>
    </OverlayWrapper>
  </body>
</html>
